body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100vh;
}
/*center the div*/
.container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}



/* .container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
} */
