nav a {
    float: left;
    display: flex;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav a:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
    scale: 10px;
}

@media screen and (min-width:1000px) {
    nav a {
        display: block;
        color: black;
    }

}
#navi{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}
a{
    padding: 10px;
}
.Aboutme{
    display: flex;
    height: 100vh;
    font-size: 60px;  
}